@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-purple: 122 106 225;
    --color-primary: var(--color-purple);
  }
}

.h-header-full {
  height: calc(100vh - 40px);
}